<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mystore</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>Controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>Controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>Controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>Controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listfurniture</display-name>
    <servlet-name>Listfurniture</servlet-name>
    <servlet-class>Controller.Listfurniture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listfurniture</servlet-name>
    <url-pattern>/Listfurniture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listgroceries</display-name>
    <servlet-name>Listgoceries</servlet-name>
    <servlet-class>Controller.Listgroceries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listgroceries</servlet-name>
    <url-pattern>/Listgroceries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductPage</display-name>
    <servlet-name>ShowProductPage</servlet-name>
    <servlet-class>Controller.ShowProductPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductPage</servlet-name>
    <url-pattern>/ShowProductPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>Controller.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProducts</display-name>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>Controller.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProducts</display-name>
    <servlet-name>SearchProducts</servlet-name>
    <servlet-class>Controller.SearchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProducts</servlet-name>
    <url-pattern>/SearchProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyCart</display-name>
    <servlet-name>BuyCart</servlet-name>
    <servlet-class>Controller.BuyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCart</servlet-name>
    <url-pattern>/BuyCart</url-pattern>
  </servlet-mapping>
 </web-app>
