<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webStore_temp</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>Controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>Controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>Controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>Controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMobiles</display-name>
    <servlet-name>ListMobiles</servlet-name>
    <servlet-class>Controller.ListMobiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMobiles</servlet-name>
    <url-pattern>/ListMobiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLaptops</display-name>
    <servlet-name>ListLaptops</servlet-name>
    <servlet-class>Controller.ListLaptops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLaptops</servlet-name>
    <url-pattern>/ListLaptops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListComps</display-name>
    <servlet-name>ListComps</servlet-name>
    <servlet-class>Controller.ListComps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListComps</servlet-name>
    <url-pattern>/ListComps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductPage</display-name>
    <servlet-name>ShowProductPage</servlet-name>
    <servlet-class>Controller.ShowProductPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductPage</servlet-name>
    <url-pattern>/ShowProductPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>Controller.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProducts</display-name>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>Controller.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProducts</display-name>
    <servlet-name>SearchProducts</servlet-name>
    <servlet-class>Controller.SearchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProducts</servlet-name>
    <url-pattern>/SearchProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyCart</display-name>
    <servlet-name>BuyCart</servlet-name>
    <servlet-class>Controller.BuyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCart</servlet-name>
    <url-pattern>/BuyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>Controller.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
</web-app>